/*Navbar Styles*/
.header {
    text-align: center;
}

.header .navbar{
    padding: 15px 0;
}

@media screen and (max-width: 767px ) {
    .navbar-link:not(.is-arrowless) {
        padding-right: unset !important;
    }

    .navbar-start > .navbar-item {
        border-bottom: 1px solid whitesmoke;
    }

    .navbar-end .navbar-item .buttons{
        display: block;
    }

    div.navbar-dropdown {
        display: none;
    }
}