body,html{
    height: 100%;
    width: 100%;
    color: #3D4145;
}
/* #logo{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-bottom: 0;
    max-height: 50px;
    display: inline-block;
    float: none;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

} */
.navbar-nav a.nav-link.dropdown-toggle {
    color: #121416;
}
.dropdown-toggle::after {
    color: #007bff;
}
.image-bordered-grey{
    padding: 2px;
    border: 1px solid grey;
    border-radius: 5px;
}
pre code {
    white-space: break-spaces;
    color: #6c757d;
}

pre {
    margin-bottom: 0;
}

.jumbotron {
    margin-bottom: unset;
    color: #3d4145;
}

.jumbotron-border-gray{
    border: 1px solid darkgray;
}

.jumbotron .pricing-header .display-4{
    font-size: 2.5rem;
}

.jumbotron .pricing-header h4 {
    font-size: 1.375rem;
}

.btn.btn-purple .spinner-grow {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: sub;
}

.section{
    margin-top: 25px;
    padding: 15px 15px;
    background-color: #f2f2f2;
    border: 1px solid darkgray;
}

.tcolor{
    color: #563d7c;
}

.btn.btn-purple {
    background-color: #563d7c;
    color: white;
}

.border-right {
    border-right: 1px solid #e2e3e5;
}

hr {
    color: darkgray;
}

.btn-outline-purple {
    color: #563d7c;
    border-color: #563d7c;
}

.btn-outline-purple:hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.checked{
    color: #447c3d;
    vertical-align: bottom;
}

.warned{
    color: #ffc107;
    vertical-align: bottom;
}

.crossed{
    color: #d9534f;
    vertical-align: bottom;
}

.logo-box {
    border: 1px solid darkgray;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #e2e3e5;
}

.logo-box .square {
    background: #fff;
    margin: 1.2rem auto;
    /* padding: 1.2rem; */
    border: .3rem;
    overflow: hidden;
    overflow: hidden;
    width: 7.5rem;
    height: 7.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-box .circle {
    background: #fff;
    margin: 1.2rem auto;
    border-radius: 50%;
    /* padding: 1.2rem; */
    overflow: hidden;
    overflow: hidden;
    width: 7.5rem;
    height: 7.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-box .squircle {
    background: #fff;
    margin: 1.2rem auto;
    border-radius: 24%;
    padding: 1.2rem;
    overflow: hidden;
    width: 7.5rem;
    height: 7.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.issues ul {
    list-style-type: none;
}

.issues ul li::before {
    content: "-";
    color: #d9534f;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.generator-form {
    background-color: #fff;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 5px;
}

.modify-section {
    margin-bottom: 25px;
}

.generated .code {
    background-color: #f2f2f2;
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
    padding: 25px;
}

.generated {
    margin-top: 15px;
    text-align: center;
}

.inactive_element{
    display: none;
}

.error_details {
    border: 1px solid #d5d6d7;
    padding: 10px;
    margin: 10px;
}

.short_error {
    text-transform: capitalize;
}

.disabled{
    cursor: no-drop;
}

a.format-anchor{
    color: #3D4145;
    border-bottom: 1px dotted #000;
}

a.format-anchor:hover{
    text-decoration: none;
}

.generated .copy-btn {
	display: block;
	background-color: transparent;
	color: blueviolet;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
    border: none;
    outline: 0;
}

.btn-sm.copy-btn:hover {
	border: 1px solid;
	padding: 0px 5px;
}

.copy-button-wrapper {
    position: relative;
    width: 650px;
    margin: auto;
}

.browse_file_name {
    position: absolute;
    top: 40px;
    left: 55px;
    word-break: break-all;
    color: #563d7c;
}

.smartphone .content .mobi-strip {
    display: block;
}
/*Mobile section*/

/*Iphone x mobile starts*/
  /* Test Iphone */
  .iphone-x {
	position: relative;
	margin: 40px auto;
	width: 250px;
	height: 500px;
	background-color: #7371ee;
	background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%);
	border-radius: 40px;
	box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 10px #191919, 0px 0px 0px 10px #111;
  overflow: hidden;
}
.iphone-x:before, .iphone-x:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.iphone-x::after {
	bottom: 7px;
	width: 100px;
	height: 4px;
	background-color: #f2f2f2;
	border-radius: 10px;
}
.iphone-x::before {
	top: 0px;
	width: 54%;
	height: 20px;
	background-color: #1f1f1f;
	border-radius: 0px 0px 40px 40px;
}
.iphone-x i,
.iphone-x b,
.iphone-x s {
  position: absolute;
  display: block;
  color: transparent;
}
.iphone-x i {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 6px);
  height: 8px;
  width: 15%;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(255, 255, 255, 0.2);
}
.iphone-x b {
  left: -10%;
  top: 0px;
  transform: translate(180px, 4px);
  width: 12px;
  height: 12px;
  background-color: #101010;
  border-radius: 12px;
  box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
}
.iphone-x b:after {
  content: '';
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}
.iphone-x s {
  top: 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 70px;
  font-weight: 100;
  padding-top: 60px;
}
.iphone-x .content .grid .chars {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3rem;
    position: relative;
}
.iphone-x .content .grid .text-section-bar .brand_message .star {
    color: #8d8d8d;
    position: absolute;
    top: 22px;
    right: 20px;
}
.iphone-x .content .grid .text-section .brand_message .star {
    color: #8d8d8d;
    float: right;
    margin-right: 10px;
}

.iphone-x .content .grid .text-section-bar .brand_message .star svg {
    height: 0.625rem;
}

.iphone-x .time.col-3 p {
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	padding: 0 10px;
}
.iphone-x .esp-brand-strip {
	text-align: center;
	margin: 0;
}

.iphone-x .esp-brand-strip .Label {
/* font-size: 16px; */
font-weight: bold;
}

.iphone-x .esp-brand-strip .search svg {
color: #000;
}

.iphone-x .grid .text-section .brandname {
/*  top: 60px;
z-index: 1;
position: absolute;
left: 43px;
background-color: white;*/
/*font-weight: 601;*/
color: #1f1f1f;
font-size: .875rem;
font-size: 12px;
text-align: left;
line-height: 1.3;
}

.iphone-x .grid .text-section .brand_subject {
/*  top: 75px;
z-index: 1;
position: absolute;
left: 43px;*/
font-size: 10.3px;
/*font-weight: 700;*/
font-family: unset;
color: #1f1f1f;
text-align: left;
line-height: 1.3;
}

.iphone-x .grid .text-section .brand_message{
/*  top: 84px;
z-index: 1;
position: absolute;
left: 43px;*/
font-size: 10px;
line-height: 1.3;
color: #8d8d8d;
text-align: left;
font-weight: 600;
}

.iphone-x .grid .text-section-bar .brandname hr {
border-top: 10px solid;
width: 45%;
margin: 5px 0;
}

.iphone-x .grid .text-section-bar .brand_subject hr {
border-top: 10px solid;
width: 85%;
margin: 5px 0;
}

.svg-image{
    margin-bottom: 15px;
}

.iphone-x .grid .text-section-bar .brand_message hr{
border-top: 10px solid;
width: 85%;
margin: 5px 0;
}

.record_name{
    text-transform: uppercase;
}

.grid {
    padding: 5px 0px;
    margin: 4px 4px;
    overflow-x: hidden;
    background-color: #fff;
    border-bottom: 2px solid #e2e3e5;
    border-radius: 5px;
}

.esp-brand-strip .burger div {
    width: 25px;
    height: 3px;
    background-color: #3D4145;
    margin: 4px 0;
}

.logo_image_wrapper_circle {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	margin: 5px 10px;
    text-align: center;
    overflow: hidden;
    background: #f2f2f2;
}

.logo_image_wrapper_squircle {
	border-radius: 24%;
	height: 35px;
	width: 35px;
	margin: 5px 10px;
	text-align: center;
    background: #f2f2f2;
    overflow: hidden;

}
/*Iphone x mobile ends*/

.footer {
	padding: 40px 0;
	text-align: center;
}
.logo {
	width: 140px;
}

.navbar-item, .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
}

[v-cloak] .v-cloak--block {
    display: block;
  }
  [v-cloak] .v-cloak--inline {
    display: inline;
  }
  [v-cloak] .v-cloak--inlineBlock {
    display: inline-block;
  }
  [v-cloak] .v-cloak--hidden {
    display: none;
  }
  [v-cloak] .v-cloak--invisible {
    visibility: hidden;
  }
  .v-cloak--block,
  .v-cloak--inline,
  .v-cloak--inlineBlock {
    display: none;
  }

/*Spinner*/
.spinner {
    width: 40px;
    height: 40px;
    background-color: #563d7c !important;
  
    margin: 400px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

.generate-heading-wrapper {
    margin-top: 15px;
}

.dark-background{
    background-color: #282c34 !important;
}

/*Override the bootstrap classes*/

.btn-outline-danger {
    color: #dc3545 !important;
    border-color: #dc3545 !important;
    background: none !important;
}

.btn-outline-danger:hover {
	color: #fff !important;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.bimi-record {
	border-bottom: 1px solid #e2e3e5;
	margin-bottom: 20px;
}

.vmc-certificate {
	border-top: 1px solid #e2e3e5;
	padding-top: 15px;
}