{% extends "index.html" %}
{% block body %}
<body>
    <div id="app">
        {% include 'includes/navheader.html' %}
        <div class="container">
          <section>
            {% if config['DEBUG'] %}
            <p class="text-center">Warning: Running in debug mode. Disable debug mode in config file for Production deployment.</p>
            {% endif %}
            <div class="jumbotron jumbotron-border-gray">
              <div class="pricing-header px-3 py-3 mx-auto text-center">
                <h1 class="display-4">Look Up And Generate <strong class="tcolor">BIMI</strong></h1>
                <h3>Indentify BIMI For Your Emails</h3> 
                <!-- <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p> -->
              </div>
              <div class="row justify-content-md-center">
                <div class="card-deck col-md-8 text-center">
                  <div class="card md-12 shadow-sm">
                    <!-- <div class="card-header">
                      <h4 class="my-0 font-weight-normal">BIMI Checker</h4>
                    </div> -->
                    <div class="input-group lg-8 md-8">
                      <input type="text" v-on:keyup.enter="checkBimi" class="form-control" placeholder="Domain Name" aria-label="Domain Name" aria-describedby="basic-addon2" v-model="domain">
                      <div class="input-group-append">
                        <button class="btn btn-purple" @click="checkBimi" type="button">
                          <div v-if="bimi_check_button_loader" class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          Check BIMI</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-center text-danger pt-1" v-if="bimi_check_error">[[domain_validation_error]]</p>
            </div>
          </section>
          <section class="section shadow-sm" v-if="bimi_check_details"  id="search_section">
            <div class="modify-section" id="modify-section" v-if="modifyBimi">
              <h2 class="tcolor">BIMI Generator</h2>
              <hr>
              <h5>Generate a new BIMI record</h5>
              <div class="generator-form mt-4">
                <form @submit.prevent="generateRecord()">
                  <div class="form-group">
                    <label for="domain">Enter Domain*</label>
                    <input required type="text" class="form-control col-md-9" id="domain" aria-describedby="domain" placeholder="Enter A Valid Domain Name" v-model="generate_bimi.domain">
                  </div>
                  <div class="form-group">
                    <label for="svg">SVG Image</label>
                    <div class="row ml-1">
                      <input type="text" class="form-control col-md-9" id="svg" placeholder="https://link-to-SVG-image" v-model="generate_bimi.svg_link"> 
                      <div class="col-md-3">
                        <span> -OR- </span>
                        <span>
                          <label class="btn btn-purple">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder2-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                            </svg>
                            Browse <input type="file" ref="svgFile" @change="setSvg" accept=".svg" hidden></label><span v-if="generate_bimi.svg_file">[[generate_bimi.svg_file.value]]</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="vmc_cert">VMC Certificate file</label>
                    <div class="row ml-1">
                      <input type="text" class="form-control col-md-9" id="vmc_cert" placeholder="https://link-to-vmc-cert-file"  v-model="generate_bimi.vmc_link"> 
                      <div class="col-md-3">
                        <span> -OR- </span>
                        <span>
                          <label class="btn btn-purple">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder2-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                            </svg>
                            Browse <input type="file"ref="vmcFile" @change="setVmc" accept=".pem" hidden></label>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div> -->
                  <button type="submit" class="btn btn-purple btn">Generate BIMI Record</button>
                </form>
                <div class="generated" v-if="generate">
                  <h5>BIMI Record Generated Successfully!!
                    <span class="checked">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                      </svg>
                    </span>
                  </h5>
                  <div class="code">
                    <code>
                      default._bimi.cnn.com TXT v=BIMI1; l=https://amplify.valimail.com/bimi/time-warner/LysAFUdG-Hw-cnn_vmc.svg; a=https://amplify.valimail.com/bimi/time-warner/LysAFUdG-Hw-cnn_vmc.pem
                    </code>
                  </div>
                </div>
              </div>
            </div>
            <div class="seach-result">
              <div class="record-found">
                <h2 class="tcolor">BIMI Checker Report For [[processed_domain]]</h2>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                    <div class="bimi-record" v-for="(result, index) in bimi_check_details" v-bind:key="index">
                      <div v-if="index !='svg_validation'">
                        <h5><span class="record_name">[[index]]</span> Record <span v-if="result.status">Found</span><span v-else>Has Some Issues</span>
                          <span span v-if="result.status" class="checked">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                          </span>
                          <span v-else class="crossed">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                            </svg>
                          </span>
                        </h5>
                        <div class="alert alert-secondary mt-4 mr-5" role="alert" v-if="result.records && result.records.length > 0 && result.records[0] != ''">
                          <pre><div v-for="(mx, mx_index) in result.records" v-bind:key="mx_index"><code>[[mx]]</code></div></pre>
                        </div>
                        <div class="alert alert-secondary mt-4 mr-5" role="alert" v-if="result.record"><pre><code>[[result.record]]</code></pre></div>
                        <div class="issues" v-if="result.status==false">
                          <h6><strong><span class="record_name">[[index]]</span> Issues You Need To Fix</strong></h6>
                          <ul class="warnings" >
                            <li v-for="(warning, warn_index) in result.warnings" v-bind:key="warn_index">Warning: [[warning]]</li>
                          </ul>
                          <ul class="errors">
                            <li v-for="(error, error_index) in result.errors" v-bind:key="error_index">Error: [[error]]</li>
                          </ul>
                          <!-- <button class="btn btn-sm btn-outline-purple">Fix SVG Issues</button> -->
                        </div>
                    </div>
                    </div>
                    <!-- <div class="mx-record">
                      <h5>MX Record Found
                        <span class="checked">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                          </svg>
                        </span>
                      </h5>
                      <div class="alert alert-secondary mt-4 mr-5" role="alert">
                        <pre><code>mxa-00241e02.gslb.pphosted.com</code></pre>
                      </div>
                    </div> -->
                    <div class="SVG Image">
                      <h5>
                        <span v-if="bimi_check_details.bimi.svg!='' && bimi_check_details.bimi.status == true">
                          Found BIMI SVG Image
                        </span>
                        <span v-else>
                          Bimi SVG Image not found
                        </span>
                        <span class="crossed"  v-if="!bimi_check_details.svg_validation.status">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                          </svg>
                        </span>
                        <span class="checked" v-else>
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                          </svg>
                        </span>
                      </h5>
                      <div class="alert alert-secondary mt-4 mr-5" role="alert" v-if="bimi_check_details.bimi.svg">
                        <em>[[bimi_check_details.bimi.svg]]</em>
                      </div>
                      <div class="row">
                        <div class="logo-box ml-md-4 col-md-3">
                          <div class="square">
                            <img class="img-fluid" :src="img_logo">
                          </div>
                        </div>
                        <div class="logo-box ml-md-4 mr-md-4 col-md-3">
                          <div class="circle">
                            <img class="img-fluid" :src="img_logo">
                          </div>
                        </div>
                        <div class="logo-box squircle col-md-3">
                          <div class="squircle">
                            <img class="img-fluid" :src="img_logo">
                          </div>
                        </div>
                      </div>
                      <div class="issues" v-if="bimi_check_details.svg_validation.errors.length > 0">
                        <h5>SVG Issues You Need To Fix</h5>
                        <ul v-for="(bimi_error, bimi_error_index) in bimi_check_details.svg_validation.errors">
                          <li>
                            <span class="short_error">[[bimi_error.short_error]]</span>
                            <div class="expand_error_button">More Detials <span class="text-danger" v-b-toggle.collapse-bimi_error_index @click="expand_error($event)">[+]</span></div>
                            <p :class="'error_details '+class_name" :id="'collapse-'+bimi_error_index">[[bimi_error.error_details]]</p>
                          </li>
                        </ul>
                        <!-- <button class="btn btn-sm btn-outline-purple">Fix SVG Issues</button> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5>Your Logo Might Appear Like This</h5>
                    <!-- Mobile box -->
                    <div class="smartphone mt-4">
                      <!-- <div class="content">
                        <img class="fill_image" src="gmail_4.jpg" alt="gmail image" />
                        <img v-if="img_logo" :src="img_logo" alt="" class="logo_image">
                        <div v-else class="logo_image">Loading...</div>
                        <div class="brandname">Brandname</div>
                        <div class="brand_subject">Your Email Subject Line...</div>
                        <div class="brand_message">Your email text messag...</div>
                      </div> -->
                      <div class="content">
                        <img src="./assets/images/mobile-top.jpg" class="img-fluid mobi-strip">
                        <div class="esp-brand-strip row">
                          <div class="burger col-2">
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                          <div class="Label col-7">
                            Inbox
                          </div>
                          <div class="search col-2">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            </svg>
                          </div>
                        </div>
                        <div class="grid shadow-sm">
                          <div class="row">
                            <div class="col-3">
                              <div class="logo_image_wrapper_circle">
                                <img :src="img_logo" alt="" class="logo_image img-fluid">
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="text-section">
                                <div class="brandname">Brandname</div>
                                <div class="brand_subject">Your Email Subject Line...</div>
                                <div class="brand_message">Your email text messag... 
                                  <span class="star">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>	
                          </div>
                        </div>
                        <div class="grid shadow-sm">
                          <div class="row">
                            <div class="col-3">
                              <div class="logo_image_wrapper_squircle">
                                <img :src="img_logo" alt="" class="logo_image img-fluid">
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="text-section">
                                <div class="brandname">Brandname</div>
                                <div class="brand_subject">Your Email Subject Line...</div>
                                <div class="brand_message">Your email text messag... 
                                  <span class="star">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>	
                          </div>
                        </div>
                        <div class="grid shadow-sm">
                          <div class="row">
                            <div class="col-3">
                              <div class="logo_image_wrapper_circle bg-secondary">
                                <span class="chars">
                                  A	
                                </span>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="text-section-bar">
                                <div class="brandname"><hr></div>
                                <div class="brand_subject"><hr></div>
                                <div class="brand_message"><hr>
                                  <span class="star">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>	
                          </div>
                        </div>
                        <div class="grid shadow-sm">
                          <div class="row">
                            <div class="col-3">
                              <div class="logo_image_wrapper_circle bg-warning">
                                <span class="chars">
                                  B	
                                </span>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="text-section-bar">
                                <div class="brandname"><hr></div>
                                <div class="brand_subject"><hr></div>
                                <div class="brand_message"><hr> 
                                  <span class="star">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>	
                          </div>
                        </div>
                        <div class="grid shadow-sm">
                          <div class="row">
                            <div class="col-3">
                              <div class="logo_image_wrapper_circle bg-danger">
                                <span class="chars">
                                  C	
                                </span>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="text-section-bar">
                                <div class="brandname"><hr></div>
                                <div class="brand_subject"><hr></div>
                                <div class="brand_message"><hr>
                                  <span class="star">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>	
                          </div>
                        </div>
                        <div class="grid shadow-sm">
                          <div class="row">
                            <div class="col-3">
                              <div class="logo_image_wrapper_circle bg-success">
                                <span class="chars">
                                  D	
                                </span>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="text-section-bar">
                                <div class="brandname"><hr></div>
                                <div class="brand_subject"><hr></div>
                                <div class="brand_message"><hr>
                                  <span class="star">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>	
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>	
                </div>
                <div class="text-center" v-if="!modifyBimi">
                  <button class="btn btn-outline-purple" @click="modifyBimi_scroll()">[[bimi_generate_text]]</button>
                </div>
              </div>
            </div>
          </section>
          <section class="section shadow-sm">
            <h2 class="tcolor">About BIMI</h2>
            <hr>
            <p>Brand Indicators for Message Identification abbreviated as BIMI is an email specification which gives a brand the flexibility to decide on what logo should appear as sender in all outgoing email messages. </p>
    
          <!-- 	<p><strong>Example of an email with no sender logo:</strong></p> -->
    
    <!-- 				<p><img class="img-fluid" src="bimi-example1.png" class="image-bordered-grey"></p><br>
            <p><img class="img-fluid" src="bimi-example2.png" class="image-bordered-grey"></p> -->
            <p>There is no platform to define BIMI. It's just a set of DNS based instructions which you will be passing to an email client requesting them to show your logo in the email messages. BIMI doesn't guarantee the display of your logo as it works only with the supported email clients.
            </p>
            <p>The adoption of BIMI is currently in its early stage. Yahoo has been the first one to extend its support for BIMI. And, now with Gmail announcing its support for BIMI in 2020, this topic has started trending among email marketers. </p>
    
            <p>BIMI is an open framework built to create trust between a sender and receiver. So, its usage is not limited in email as a channel. Instead, the opportunities are endless. Linkedin has been one of the core members for supporting this initiative, so very soon its adoption might increase across social media platforms and messaging apps like WhatsApp, Telegram and even in different mobile payment solutions.
            </p>
    
            <p>It is important to understand what BIMI is, why email giants are so serious about this, and how this is going to affect your email delivery.
            </p>	
          </section>
          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
    </div>
  {% if config['DEBUG'] %}
    <script src=https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
  {% else %} 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  {% endif %}
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
  <script src="//unpkg.com/bootstrap-vue@2.16.0/dist/bootstrap-vue.min.js"></script>
  <script>
      new Vue({
          el: '#app',
          delimiters: ["[[","]]"],
          data() {
            return {
              loading: true,
              bimi_check_details: null,
              bimi_check_button_loader: false,
              apiurls: {
                checkBimiRecord: "/check-bimi",
                // authpost: "http://localhost:9000/auth",
                // postget: "http://localhost:9000/posts",
                generateBimiRecord: "/generate-bimi"
              },
              processed_domain: "",
              searchStatus: false,
              domain: null,
              img_logo: "",
              modifyBimi: false,
              bimi_check_error: false,
              test: true,
              generate: false,
              domain_validation_error: "",
              bimi_generate_text: "Generate BIMI Record?",
              generate_bimi : {
                domain: "",
                svg_link: "",
                vmc_link: "",
                svg_file: {},
                vmc_file: {}
              },
              class_name: "inactive_element",
            }
          },
          methods: {
            checkBimi(){
              if(this.bimi_check_button_loader!=true){
                if(this.validate_domain()){
                  this.bimi_check_button_loader = true
                  this.modifyBimi = false
                  axios.post(this.apiurls.checkBimiRecord, {
                    domain: this.domain        
                  })
                  .then((response) => {
                    console.log(response.data);
                    this.bimi_check_details = response.data
                    this.bimi_check_button_loader = false
                    this.processed_domain = this.domain
                    this.img_logo = response.data.bimi.svg ? response.data.bimi.svg : "assets/images/error.svg"
                    this.generate_bimi.domain = this.domain
                    if(this.bimi_check_details.bimi.status == false){
                      this.bimi_generate_text = "Generate BIMI Record?"
                    } else {
                      this.bimi_generate_text = "Modify BIMI Record?"
                    }
                  })
                  .catch((error) => {
                    console.log(error);
                    this.bimi_check_button_loader = false
                  });
                } else {
                  this.bimi_check_error = true
                }
              }
            },
            setSvg(){
              this.generate_bimi.svg_file = this.$refs.svgFile.files
            },
            setVmc(){
              this.generate_bimi.vmc_file = this.$refs.vmcFile.files
            },
            validate_domain(domain = this.domain){
              const REGEXT_DOMAIN = /(?=^.{3,253}$)(^((?!-)[a-zA-Z0-9-]{1,63}(?<!-)\.)+[a-zA-Z]{2,63}$)/gm
              if (REGEXT_DOMAIN.exec(domain)){
                this.domain_validation_error = ""
                return true
              } else {
                this.domain_validation_error = "Invalid domain name"
                return false
              }
            },
            toggle_sign(element){
              let span_text = element
              // console.log(span_text)
              if(span_text.innerHTML === "[+]") 
                span_text.innerHTML = "[-]" 
              else 
                span_text.innerHTML = "[+]"
            },
            expand_error(e){
              let span_element = e.target
              this.toggle_sign(span_element)
              if(span_element.parentElement.nextElementSibling.classList.contains(this.class_name)){
                span_element.parentElement.nextElementSibling.classList.remove(this.class_name)
              } else {
                span_element.parentElement.nextElementSibling.classList.add(this.class_name)
              }
            },
            modifyBimi_scroll(){
              this.modifyBimi = !this.modifyBimi
              let top_element = document.getElementById("search_section");
              top_element.scrollIntoView(true);
            },
            generateRecord(){
              const svg_regex = /((https:)[\\|\/\/].*?\.svg$)/gm
              const vmc_regex = /((https:)[\\|\/\/].*?\.pem$)/gm
              let error = 0
              let error_message = null
              if(!this.validate_domain(this.generate_bimi.domain)){
                error = 1
                error_message = "Invalid domain"
              }

              if (this.generate_bimi.svg_link!="" && this.generate_bimi.svg_link!=undefined){
                if (!svg_regex.exec(this.generate_bimi.svg_link)){
                  error = 1
                  error_message = "Invalid svg link provided"
                }
              } else {
                if(Object.keys(this.generate_bimi.svg_file).length === 0 && this.generate_bimi.svg_file.constructor === Object){
                  error = 1
                  error_message = "Please enter an valid svg link or Upload SVG file"
                }
              }

              if (this.generate_bimi.vmc_link!="" && this.generate_bimi.vmc_link!=undefined){
                if(!vmc_regex.exec(this.generate_bimi.vmc)){
                  error = 1
                  error_message = "Invalid vmc link provided"
                }
              }

              if(error == 1){
                alert(error_message)
              }
              else {
                axios.post(this.apiurls.generateBimiRecord, {
                  domain: this.generate_bimi.domain, svg_link: this.generate_bimi.svg_link, vmc_link: this.generate_bimi.vmc_link, svg_file: this.generate_bimi.svg_file, vmc_file: this.generate_bimi.vmc_file
                  })
                  .then((response) => {
                    console.log(response.data);
                  })
                  .catch((error) => {
                    console.log(error);
                    this.bimi_check_button_loader = false
                  });
              } 
            }
          },
       })
  </script>
</body>
<style>
	
</style>
{% endblock %}